.StatusIndicator {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
}

.NotFound {
  background: green;
}

.Unknown {
  background: black;
}

.Open {
  background: orange;
}

.NotApplicable {
  background: #666;
}
